# Sphinx
_build/
localazy_private.json

# python virtualenv
venv/
ENV/
.venv
Pipfile.lock
Pipfile

# put various editor ignores here
.vscode/
*.vpj
*.vpw
*.vpwhist
*.vtg
.idea/
.idea
.idea/*

# python cache files
*.pyc
__pycache__

# dotenv
.env
.envrc

# os specific
.DS_Store
