alabaster==0.7.12
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
fett==0.3.2
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
Jinja2==3.1.1
lxml==4.8.0
markdown-it-py==2.0.1
MarkupSafe==2.1.1
mdformat==0.7.13
mdformat-deflist==0.1.1
mdformat-frontmatter==0.4.1
mdformat-myst==0.1.5
mdformat-tables==0.4.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
myst-parser==0.17.0
networkx==2.5
packaging==21.3
pandoc==2.1
pathtools==0.1.2
phabricator==0.8.0
plumbum==1.7.2
ply==3.11
Pygments==2.11.2
pymongo==3.11.2
pyparsing==3.0.7
python-jsonrpc-server==0.3.4
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rst-to-myst==0.3.2
rstcheck==3.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.15.0
snooty-lextudio==1.8.6.dev0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-notfound-page==0.8
sphinx-panels==0.6.0
sphinx-rtd-theme==1.0.0
sphinx-sitemap==2.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
ujson==1.35
urllib3==1.26.9
watchdog==0.10.4
zipp==3.7.0
