span.opcmd,
span.cfgcmd {
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    max-width: 100%;
    color: #000;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

.opcmd-heading,
.cfgcmd-heading {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(106, 176, 222);
    padding: 6px;
}

.opcmd-body,
.cfgcmd-body {
    margin: 6px 0;
    padding-left: 12px;
}



.cfgcmd-heading .cmdlink:after,
.opcmd-heading .cmdlink:after {
    content: "";
    font-family: FontAwesome
}


.cfgcmd-heading:not(:hover) .cmdlink,
.opcmd-heading:not(:hover) .cmdlink {
    display: none;
}



a.cmdlink {
    font-size: 80%;
    margin-left: 6px;
}

.wy-nav-content {
  max-width : none;
}

.wy-tray-container li.wy-tray-item-info {
  background : #409ad5;
}

.wy-table-responsive {
  overflow : visible !important;
}

.wy-table-responsive table td {
  white-space : normal !important;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color : #ffcc00 !important;
}

.wy-menu-vertical li.current a {
  color : #040077 !important;
}

.wy-menu-vertical li ul li a {
  color : #ffffff !important;
}

.wy-menu-vertical a {
  color : #ffffff !important;
}

.wy-menu-vertical a:active {
  background-color : #409ad5 !important;
}

.wy-side-nav-search {
  background-color : #FF0000 !important;
}

.wy-side-nav-search img {
  background-color : #FF0000 !important;
}

.wy-side-nav-search > div.version {
  color : rgba(255, 255, 255, 0.7) !important;
}

.wy-nav-top {
  background-color : #FF0000 !important;
}

.wy-nav-top img {
  background-color : #FF0000 !important;
}
